global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'nautilus-server'
    static_configs:
      - targets: ['nautilus-server:3000']
